* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #fff;
}

html,body, .container{
	height: 100%;
}
.container {
	display: grid;
	width: 40%;
	margin: 0 auto;
	background-color: #eee;
	grid-template-areas: "header header"
						 "aside main"
						 "bottom bottom"
						 "footer footer";
	grid-template-columns: 4fr 6fr;
	grid-template-rows: 1fr 7fr 2fr 1fr;
	grid-column-gap: 5px; 
    grid-row-gap: 8px;
}
header{
	background-color: #34c9eb;
	grid-area: header;
}
main{
	grid-area: main;
	display: grid;
	grid-template-areas: "main-cont" 
						 "extra-cont";
	grid-template-rows: 7fr 3fr;
	grid-row-gap: 8px;
}
.main-cont {
	background: #e8bc2c;
	grid-area: main-cont;
}
.extra-cont{
	background: #a8a6a0;
	grid-area: extra-cont;
}
aside{
	grid-area: aside;
	display: grid;
	grid-template-areas: "hero" 
						 "sidebar";
	grid-template-rows: 4fr 6fr;
	grid-row-gap: 8px;
}
.hero {
	background: #e2bce6;
	grid-area: hero;
}
.sidebar{
	background: #91c983;
	grid-area: sidebar;	
}

.bottom {
	grid-area: bottom;
	display: grid;
	grid-template-areas: "images posts";
	grid-template-columns: 7fr 3fr;
	grid-column-gap: 5px;

}
.images{
	background: #61a350;
	grid-area: images;
}
.posts{
	background: #e2bce6;
	grid-area: posts;
}

footer{
	background-color: #c29c23;
	text-align: center;
	line-height: 50px;
	grid-area: footer;
}

h2 {
	text-align: center;
	line-height: 80px;
	letter-spacing: 2px;
}
p {
	text-align: center;
	line-height: 20px;
}