/*Backgrounds*/
$headerBackground: #ddee88;
$containerBackground: #eee;
$sectionBackground: #88aaff;
$liBackground: #99aaff;
$footerBackground: #45ff12;

/*Text color*/
/*$aColor: #000;
$aHoverColor: #fff;*/

$linkColor: #eee;

$buttonColor: #123456;