/* Nunulinamos margin reiksmes */
*{
	margin: 0;
	padding: 0;
}

/* Layout */
.container{
	background-color: #eee;
	width: 80%;
	margin:50px auto;
	padding: 10px

}


nav{
	background-color: #ff8811;
	border: 1px solid #000;
}

nav li{
	display: inline-block;
	padding: 10px;
	background-color: #ff1188;
	text-align: center;
}

nav li:hover{
	background-color: #eee;
}

nav li a{
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}



